@font-face {
    font-family: "AquaGrotesque";
    src: url("../fonts/aqua-webfont.eot"),    
         url("../fonts/aqua-webfont.woff") format("woff"),
         url("../fonts/aqua-webfont.ttf") format("truetype"),
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "synchroLET";
    src: url("../fonts/synchro_let_plain-webfont.eot"),    
         url("../fonts/synchro_let_plain-webfont.woff") format("woff"),
         url("../fonts/synchro_let_plain-webfont.ttf") format("truetype"),
         url("../fonts/synchro_let_plain-webfont.ttf#synchro_letplain") format("svg");
    font-weight: 400;
    font-style: normal;
}