
.indicationsContainer {
	@extend %horizontal-center;

	padding: 30px;
	width: 80%;
	bottom: 0;
	font-size: $text-paragraphe-size;
	color: $text-white;
	text-transform: uppercase;

	&__text {

		&__img {

			width: 20px;
    		display: inline;
		}
	}

}